<o-form #ApplicationForm attr="Application_form_insert" service="Application" entity="Application" 
keys="application_id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #application_id attr="application_id" label=" application_id*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="applicant_id"
        service="Applicant" 
        entity="ApplicantType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="applicant_id" 
        value-column-type="INTEGER"  
        keys="applicant_id" 
        columns="applicant_id;applicant_id;first_name" 
        title="applicant_id"
        visible-columns="applicant_id;first_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="position_id"
        service="Position" 
        entity="PositionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="position_id" 
        value-column-type="INTEGER"  
        keys="position_id" 
        columns="position_id;position_id;description" 
        title="position_id"
        visible-columns="position_id;description" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #application_date attr="application_date" type="timestamp" label="application_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>